.container {
  max-width: 940px;
  margin: 0 auto;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12  {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
header {
  padding-top: 49px;
  font-size: 18px;
  margin-bottom: 50px;
}
.justify-center {
   justify-content: center;
}

header nav a {
  color: #3d3d3d;
  text-decoration: none;
  margin-right: 36px;
}

header nav a:last-child {    
  margin-right: 0;
}

.header-logo-col {
  padding-top: 51px;
 }

body {
  font-family: 'Open Sans', sans-serif;
}

.main-item {
  background-color: #f2f2f2;
  border: solid 1px #979797;
  margin-bottom: 50.4px;
  flex-direction: row;
}

.image {
   padding-top: 80px;
   
}

.main-item-img {
  width:100%;
  display: flex;
}

.description{
  padding-top: 76px;
  
}

h1 {
  font-family: OpenSans;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}

.main-item-description {
  display: flex;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 56px;
}


h2 {
  
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 13px;
}

.features-description {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    margin-bottom: 60px;
    padding-left: 0px;
}

ul {
  list-style: none;
}

ul li:before {
  content: "-";
  position: relative;
  left:-5px;
}

.rows {
    margin-bottom: 20px;
    
} 

.buttom {
  width: 100%;
  display: flex;
  padding-top: 28px;
  margin-bottom: 48.6px;
}

.main-item-btn {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 18px;
  border: 1px solid #3d3d3d;
  text-align: center;
  background-color: #f2f2f2;
  color: #3d3d3d;
  font-size: 20px;
}

.main-item-btn:hover {
  cursor: pointer;
}

.main-item-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 
.popular {
   font-family: OpenSans;
   font-size: 24px;
   font-weight: bold;
   font-style: normal;
   font-stretch: normal;
   line-height: normal;
   letter-spacing: normal;
   text-align: left;
   color: #000000;
   justify-content: center;
   margin-bottom: 50px;
 }

.card {
 width:100%;
 display: flex;
 padding: 26px 52px;
 background-color: #d8d8d8;
 border: solid 1px #979797;
 flex-direction: column;
 border: 1px solid #979797;
 margin-bottom: 20px;
 transition: 0.3s;
}

.card:hover {
  box-shadow: 0 22px 43px rgba(0,0,0,0.15);
  transition: 0.3s;
  transform: translateY(-5px);
  cursor: pointer;
}

.card-img {
  width: 100;
  object-fit: contain;
  background-color: #d8d8d8;
  display: flex;
  align-self: center;
}

.herschelsupply {
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 50px;
 }

.social-button{
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
 }

.social-img {
  display: flex;
  align-self: center;
}

.vk {
  background-color: #5f81a9;
  padding-top: 22px;
  padding-bottom: 22px;
}

.fb {
  background-color: #3a589c;
  padding-top: 18px;
  padding-bottom: 18px;
}

.tg {
  background-color: #419fd9;
  padding-top: 20px;
  padding-bottom: 18px;
}

.md {
  background-color: #00e272;
  padding-top: 20px;
  padding-bottom: 20px;
}

main{
  margin-bottom: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3d3d3d;
  padding-top:34px;
  padding-bottom: 17px;
  color: #ffffff;
}
.footer-links {
  margin-bottom: 15px;
}
.footer-links a {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-right: 30px;
}
.footer-links a:last-child {
  margin-right: 0;
}

.all{
  font-family: OpenSans;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}